.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  display: inline-block;
  width:100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #3D3D5C;
  position: "static";
  
}

.nav-link {
  margin-left: 'auto';
  color: #f2f2f2;
  background-color: #3D3D5C;
  text-align: center;
  padding: 24px 18px;
  /* text-decoration: none; */
  font-size: 15px;
  

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  height: 'auto';
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.nav-right {
  float: right;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.1s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #00FF00;
  color: #111;
  font-size: 10px;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -0.3em;
  left: center;
  right: center;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}